<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppy Adoption</title>
 </head>
 
 <body>
    <form method="POST" action="/new">
      <p>Puppy Name: <input type="text" name="name"></p>
      <p>Puppy Breed: <input type="text" name="breed"></p>
      <p>Puppy Age: <input type="text" name="age"></p>
      <input type="submit" id="Submit">
    </form>
  </body>