<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppy Adoption</title>
 </head>
 
 <body>
    <form method="POST" action="/display">
      <p>Team Name: <input type="text" name="name"></p>
      <p>Coach: <input type="text" name="coach"></p>
      <p>Point Guard: <input type="text" name="pg"></p>
      <input type="submit" id="Submit">
    </form>
  </body>