<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppy Adoption</title>
 </head>
 
 <body>
    <h1>Here is your puppy!</h1>
    <h2>Puppy Name: <%= @puppy.name %></h2>
 </body>
</html>